.header-bg {
    /* The image used */
    background-image: url("../resources/header.png");
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.body-bg {
    /* The image used */
    /* background-image: url("../resources/body1.png"); */
    background-color: darkgray;
  
    min-height: 100%;
    min-width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
.homebtn{
  margin-top :15px;
  margin-left: 15px;
}

