<div class="body">
    <pt-filter-from style="width: 40%;"></pt-filter-from>
    <pt-filter-destination style="width: 40%;"></pt-filter-destination>
    <pt-filter-date  style="width: 40%;"></pt-filter-date>
    <pt-text-input style="width: 40%;" left="Flight Duration:"></pt-text-input>
    <pt-filter-quantity style="width: 40%;" title="Number of stations:"></pt-filter-quantity>
    <pt-check-box style="width: 40%;" title="Direct"></pt-check-box>
    <pt-button (click)="filterForm()" title="Filter"></pt-button>
</div>