<!-- <h1> Welcome to "Travel With Food" App</h1>

<div class="container">
    <div class="row">
        <div class = "col-md"></div>
        <div class = "col-md">
            <h2> What are your favorite cuisines?</h2>
        </div>
        <div class = "col-md"></div>
    </div>
    <div class = "row">
        <div class="col-sm" *ngFor="let c of cuisines">
            <p1>{{c}} </p1>
        </div>
    </div>
</div> -->
<div class="jumbotron text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Column 1</h3>
        <p>Lorem ipsum dolor..</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor..</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 3</h3>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>
  </div>